
<div class="title">
<h1><strong>Biblioteca.</strong></h1>




<div class="divbusca">
<%= form_with url:homepage_search_path, local:true, method: :get do %>
<div>
    <%= text_field_tag "busca", nil, placeholder: 'Digite o título do livro', class: 'buscarLivro'  %>
    <%= submit_tag "enviarBusca", value: "Buscar", class: 'buscarLivroBtn'%>
</div>
<% end %>
</div>



<div class="divbuscafooter">
</div>
</div>
