<h1>Homepage#search</h1>
<p>Find me in app/views/homepage/search.html.erb</p>

<% @livroAzkaban['items'].each do |volume| %>

<p><%= volume['volumeInfo']['title']%></p>




<p><%= @deyvid%><p>

<% end %>