
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');



/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  color: white;

}

html, body { 
  height: 100%; 
  width: 100%; 
  margin: 0; }




.containerBody {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0,0,0,0.6)), url(bibli.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Roboto';
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.title {
  margin: auto;
  color: white;

}
.title h1 {
  font-size: 200px;
  margin: auto;
}

.divbusca {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: auto;
}

.buscarLivro {
  width: 500px;
  height: 60px;
  border-radius: 30px;
  border: none;
  border-style: none;
  outline: none;
  font-size: 20px;
  text-align: center;
  color: black;
}

.buscarLivro::placeholder {
  text-align: center;
}

.buscarLivroBtn {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  border: none;
  border-style: none;
  outline: none;
  color: black;
  font-weight: 600;
}



.searchPage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.searchPageNavBar {
  display: flex;
  height: 12%;
  align-items: center;
}

.searchPageNavBar h1{
  margin-left: 30px;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 60px;
}

nav ul li a {
text-decoration: none;
color: white;
}



.searchPageBody {
  display: flex;
  height: 80%;
  flex-wrap: wrap;
  padding-left: 80px;
  padding-right: 80px;
  overflow-y: scroll;
  
}


.searchPageBody::-webkit-scrollbar {
  display: none;
}

.searchPageBodyImage {
  height: 300px;
  margin: 50px;
  border-radius: 10px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.searchPageBodyImage:hover {
  transform: scale(1.3);
}



.searchPageFoot {
  display: flex;
  height: 10%;
}



.borda {
  border: 1px solid black;
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;
}